.dialog-title {
    margin:10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;
}

.content {
    margin:10px;
    font-size: 1.5em;
    text-align:center;
    line-height:1.6em;
}

/* Styles for small screens */
@media (max-width: 768px) {

    .dialog-title {
        font-size: 1.5em;
        font-weight: 500;
    }

    .content {
        font-size: 1em;
        line-height:1em;
    }    
  
  }