.dialog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    margin: 0;
    border-bottom: 2px solid grey;
    background-color: #f4ebd6;
}

.dialog-title h2 {
    padding: 0;
    margin:0;
    margin-bottom: 2vh;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 666;
}

.content {
    padding: 20px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.content h3 {
    padding: 15px;
    margin:0;
    font-size: 2.5vh;
    font-weight: 550;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7px;
}

.error-message {
    color: red;
}

/* Styles for small screens */
@media (max-width: 768px) {

    .dialog-title h2 {
        font-size: 1.75em;
        font-weight: 666;
    }

    .content {
        font-size: 1em;
        line-height: 1em;
    }
}