<div class="dialog-title">
  <h2>New Bottle Type</h2>
</div>

<mat-dialog-content class="content" [formGroup]="form">

  <div class="bottle-form">

    <!-- Name Field -->
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <div class="error-message" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      Name Required
    </div>

    <br>

    <!-- Capacity ML-->
    <mat-form-field class="form-field">
      <mat-label>Capacity (mL)</mat-label>
      <input matInput formControlName="capacityML">
    </mat-form-field>
    <div class="error-message" *ngIf="form.get('capacityML')?.invalid && form.get('capacityML')?.touched">
      Capacity Required
    </div>

    <br>

    <!-- Height CM-->
    <mat-form-field class="form-field">
      <mat-label>Height (cm)</mat-label>
      <input matInput formControlName="heightCM">
    </mat-form-field>
    <div class="error-message" *ngIf="form.get('heightCM')?.invalid && form.get('heightCM')?.touched">
      Height Required
    </div>

    <br>

    <!-- Diameter Bottom CM-->
    <mat-form-field class="form-field">
      <mat-label>Bottom Diameter (cm)</mat-label>
      <input matInput formControlName="diameterBottomCM">
    </mat-form-field>
    <div class="error-message" *ngIf="form.get('diameterBottomCM')?.invalid && form.get('diameterBottomCM')?.touched">
      Bottom Diameter Required
    </div>

    <br>

  </div>

  <br>

  <!-- Dimensions Wrapper -->
  <div class="dimension-wrapper" formArrayName="dimensions">

    <!-- Add Dimension Button -->
    <button mat-stroked-button color="primary" (click)="addDimension()">+ Add Dimension</button>
    <div class="error-message" *ngIf="dimensions.errors?.['minTwoDimensions'] && form.get('dimensions')?.touched">
      At Least 2 Dimensions Required
    </div>

    <!-- One Dimension Item -->
    <div class="dimension-item" *ngFor="let dimension of dimensions.controls; let i = index" [formGroupName]="i">
      <!-- Title -->
      <div class="dimension-title">
        <h2>Dimension</h2>
        <button mat-icon-button color="warn" (click)="removeDimension(i)" *ngIf="dimensions.length > 1">
          <mat-icon>remove</mat-icon>
        </button>
      </div>

      <!-- Height -->
      <mat-form-field>
        <mat-label>Height %</mat-label>
        <input matInput formControlName="height">
      </mat-form-field>

      <!-- Radius -->
      <mat-form-field>
        <mat-label>Radius %</mat-label>
        <input matInput formControlName="radius">
      </mat-form-field>
    </div>
  </div>




</mat-dialog-content>

<mat-dialog-actions class="action-buttons">
  <button mat-raised-button (click)="cancel()">Close</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>