* {
  padding: 0;
  margin: 0;
}

#main-page {
  background-color: #bbb;
  padding: 10px;
}

#main-wrapper {
  display: block;
  margin: auto;
  background-color: white;
  border: 2px solid grey;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.397);
}

#main-wrapper .dashboard-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background-color: rgba(230, 230, 230, 0.8);
}

#main-wrapper .dashboard-info h3 {
  font-size: 1.1em;
  margin: auto 0;
}

#main-wrapper .dashboard-info button {
  font-weight: 600;
  padding:3px 8px;
}

/************/
/* Nav Tabs */
/************/

/* Center-align the nav-tabs */
.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0;
  border-bottom: 2px solid #747474;
  /* Bottom border for the tab container */
  position: relative;
  /* Ensure proper stacking context */
  background-color: rgba(230, 230, 230, 0.8);
  z-index: 1;
}

.nav-tabs .nav-item {
  text-align: center;
  padding: 0;
  margin: 0 2px;
  width: 33vw;
}

.nav-tabs .nav-link {
  display: flex;
  /* Flex layout for centering text */
  align-items: center;
  /* Center text vertically */
  justify-content: center;
  /* Center text horizontally */
  color: rgba(0, 0, 0, 0.356);
  font-weight: 500;
  font-size: 1.25em;
  border: 2px solid grey;
  /* Border around each tab */
  border-bottom: none;
  /* Remove bottom border */
  z-index: 2;
  /* Make sure tabs are above the container border */
  background-color: rgb(243, 243, 243);
  /* Transparent background */
  border-radius: 5px 5px 0 0;
  /* Optional rounded top corners */
  min-height: 100%;
}

.nav-tabs .nav-link:hover {
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  color: rgba(0, 0, 0, 0.781);
  /* Text color for active tab */
  font-weight: 500;
  border: 2px solid grey;
  /* Border around active tab */
  background-color: white;
  border-bottom: 2px solid white;
  /* White bottom border to cover nav-tabs border */
  margin-bottom: -2px;
  /* Pull active tab down to cover container border */
  z-index: 3;
  /* Ensure active tab is above other elements */
  box-shadow: 0px -6px 6px rgba(0, 0, 0, 0.041);
}

/*****************/
/* Actions Group */
/*****************/

.tab-content {
  padding: 0;
  margin: 0 auto;
}

#actions-group {
  padding: 0;
  margin: 0 auto;
}

#actions-group .title {
  padding: 30px 0px;
  border-bottom: 2px solid grey;
  margin: 0 auto;
  background-color: #f4ebd6;
}

#actions-group .title h2 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: 666;
  text-align: center;
}

#actions-group .action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#actions-group .action-buttons button {
  margin: 20px 0;
}

#createbottle-wrapper {
  text-align: center;
  width:90%;
  padding-bottom: 20px;
}

#createbottle-wrapper h2 {
  font-size: 1.5em;
  font-weight: 600;
}

#export-wrapper {
  text-align: center;
  width: 90%;
  border-top: 4px solid grey;
  padding-bottom: 20px;
}

#export-wrapper h2 {
  padding: 20px 0;
  font-size: 1.5em;
  font-weight: 600;
}

#export-wrapper button {
  margin: 0;
}

#export-wrapper .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 33px;
}

#export-wrapper .form-group input {
  width: 70%;
}

#export-wrapper .button-group {
  text-align: center;
}

#admin-action-wrapper {
  text-align: center;
  width:90%;
  border-top: 4px solid grey;
}

#admin-action-wrapper h2 {
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: 600;
}

/*******************/
/* Inventory Group */
/*******************/

#inventory-group {
  padding: 0;
  margin: 0 auto;
}

#inventory-group .title {
  padding: 30px 0px;
  border-bottom: 2px solid grey;
  margin: 0 auto;
  background-color: #f4ebd6;
}

#inventory-group .title h2 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: 666;
  text-align: center;
}

.submit-wrapper {
  padding: 10px 0;
  border-bottom: 2px solid grey;
}

.submit-wrapper h3 {
  font-size: 1em;
  font-weight: 550;
  text-align: center;
  margin: 0;
  padding:0;
}

.submit-wrapper .switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.submit-wrapper .switch-wrapper h3 {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0 30px;
}

/*****************/
/* Toggle Switch */
/*****************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/************************/
/* End of Toggle Switch */
/************************/

#inventory-table thead {
  background-color: rgba(230, 230, 230, 0.8);
  text-align: center;
}

#inventory-table td {
  text-align: center;
  vertical-align: middle;
}

.sortable {
  cursor: pointer;
}

.sorted.asc::after {
  content: ' ▲';
}

.sorted.desc::after {
  content: ' ▼';
}

#inventory-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#inventory-buttons button {
  text-align: center;
  margin: 0px 10px;
  width: 33px;
  height: auto;
}

/* Styles for small screens */
@media (max-width: 768px) {

}