<div id="main-page">

  <!-- Message Wrapper -->
  <div id="message-wrapper" [class.visible]="messageVisible">
    <h3 [style.color]="messageError ? 'red' : 'black'">{{ message }}</h3>
  </div>

  <!-- Main Content Wrapper -->
  <div id="main-wrapper">

    <!-- Dashboard Info -->
    <div class="dashboard-info" *ngIf="userInfo">

      <!-- Compan Info-->
      <div class="company-info">
        <h3><strong>Company: </strong>{{ userInfo.company }}</h3>
      </div>

      <!-- User Info -->
      <div class="user-info">
        <h3><strong>Name: </strong>{{ userInfo.firstName }} {{ userInfo.lastName }}</h3>
      </div>

      <!-- Sign Out Button -->
      <div class="button-wrapper">
        <button class="btn btn-danger" (click)="signOut()">Sign Out</button>
      </div>

    </div>

    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'actions'}"
          (click)="setActiveTab('actions')">Actions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'inventory'}"
          (click)="setActiveTab('inventory')">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'users'}" (click)="setActiveTab('users')">Users</a>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">

      <!-- Actions Group -->
      <div *ngIf="activeTab === 'actions'" class="container" id="actions-group">

        <!-- Title -->
        <div class="title">
          <h2>Actions</h2>
        </div>

        <!-- Action Buttons -->
        <div class="action-buttons">

          <!-- Create New User -->
          <div id="createuser-wrapper">
            <h2>New User</h2>
            <button class="btn btn-primary" (click)="createNewUser()">New User</button>
          </div>

          <!-- Create New Bottle -->
          <div id="createbottle-wrapper">
            <h2>New Liquor Bottle</h2>
            <button class="btn btn-primary" (click)="createNewLiquorBottle()">New Bottle Type</button>
          </div>

          <!-- New Bar -->
          <div id="createbar-wrapper">
            <h2>New Bar</h2>
            <button class="btn btn-primary" (click)="createNewBar()">New Bar</button>
          </div>

          <!-- Export Inventory Submissions -->
          <div id="export-wrapper">
            <h2>Inventory Submissions</h2>
            <form class="form-horizontal" [formGroup]="inventorySearchForm"
              (ngSubmit)="exportSubmissionsExcel(inventorySearchForm)">
              <div class="form-group">
                <label for="from">From:</label>
                <input id="from" type="date" class="form-control" formControlName="from"
                  [ngClass]="{'is-invalid': inventorySearchForm.get('from')?.invalid && inventorySearchForm.get('from')?.touched}">
              </div>

              <!-- From error message -->
              <div *ngIf="inventorySearchForm.get('from')?.invalid && inventorySearchForm.get('from')?.touched"
                class="error-message">
                Date required
              </div>

              <div class="form-group">
                <label for="to">To:</label>
                <input id="to" type="date" class="form-control" formControlName="to"
                  [ngClass]="{'is-invalid': inventorySearchForm.get('to')?.invalid && inventorySearchForm.get('to')?.touched}">
              </div>

              <!-- To error message -->
              <div *ngIf="inventorySearchForm.get('to')?.invalid && inventorySearchForm.get('to')?.touched"
                class="error-message">
                Date required
              </div>

              <div class="button-group">
                <button type="submit" class="btn btn-primary">Export Submissions</button>
              </div>
            </form>
          </div>

          <!-- Admin Action -->
          <div id="admin-action-wrapper">
            <h2>Admin Inventory Action</h2>
            <button class="btn btn-primary" (click)="createNewAdminInventoryAction()">Create Action</button>
          </div>
        </div>
      </div>

      <!-- Inventory Group -->
      <div *ngIf="activeTab === 'inventory'" class="container" id="inventory-group">

        <!-- Title -->
        <div class="title">
          <h2>Inventory</h2>
        </div>

        <!-- Info Wrapper -->
        <div class="submit-wrapper">

          <!-- Bar Selection -->
          <div class="switch-wrapper">

            <select [(ngModel)]="selectedBar" class="form-control">
              <!-- Placeholder Option -->
              <option [ngValue]="null" disabled selected>Select a bar...</option>

              <!-- Dynamic Options -->
              <option *ngFor="let bar of bars" [ngValue]="bar">
                {{ bar.name }}
              </option>
            </select>
          </div>

          <h3 *ngIf="selectedBar?.lastSubmission">
            Last Updated by
            <span style="color: red;">{{ selectedBar?.lastSubmission?.firstName }}</span>
            on
            <span style="color: red;">{{ selectedBar?.lastSubmission?.timestamp }}</span>
          </h3>

        </div>

        <!-- Table Wrapper -->
        <table class="table" id="inventory-table">
          <thead>
            <tr>
              <th style='width:40%;' (click)="sortLiquorInventory('name')"
                [ngClass]="{'sortable': true, 'sorted': sortColumn === 'name', 'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc'}">
                Name</th>
              <th style='width:20%;' (click)="sortLiquorInventory('capacityML')"
                [ngClass]="{'sortable': true, 'sorted': sortColumn === 'capacityML', 'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc'}">
                Size</th>
              <th style='width:20%;'>Full</th>
              <th style='width:20%;'>Partial</th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let bottle of liquorBottles">
              <!-- Delivery Row -->
              <tr>
                <td data-label="Name">{{ bottle.name }}</td>
                <td data-label="Size">{{ bottle.capacityML }}mL</td>
                <td id="full-buttons">
                  <p>{{ getFullBottleCount(bottle) }}</p>
                </td>
                <td id="partial-buttons">
                  <p>{{ getPartialBottleCount(bottle) }}</p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

      </div>

      <!-- Users Group -->
      <div *ngIf="activeTab === 'users'" class="container" id="users-group">

        <!-- Title -->
        <div class="title">
          <h2>Users</h2>
        </div>

        <!-- Table Wrapper -->
        <table class="table" id="users-table">

          <!-- Head -->
          <thead>
            <tr>
              <th style='width:25%;' (click)="sortCompanyUsers('firstName')"
                [ngClass]="{'sortable': true, 'sorted': sortColumn === 'firstName', 'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc'}">
                First</th>
              <th style='width:25%;' (click)="sortCompanyUsers('lastName')"
                [ngClass]="{'sortable': true, 'sorted': sortColumn === 'lastName', 'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc'}">
                Last</th>
              <th style='width:40%;'>Username</th>
              <th style='width:10%;' (click)="sortCompanyUsers('role')"
                [ngClass]="{'sortable': true, 'sorted': sortColumn === 'role', 'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc'}">
                Role</th>
            </tr>
          </thead>

          <!-- Body -->
          <tbody>
            <ng-container *ngFor="let user of companyUsers">
              <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>