<div id="main-page">
    <div id="main-wrapper">

        <!-- Login Group -->
        <div class="logingroup" *ngIf="!token">

            <!-- Image -->
            <img src="assets/images/liquidtory-logo.png">

            <!-- Form -->
            <form [formGroup]="loginForm" class="d-flex" (ngSubmit)="onLoginSubmit()">
                <input formControlName="username" class="form-control me-2" type="text" placeholder="Username"
                    aria-label="Username" [ngClass]="{ 'username-error': loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched }" />

                <input formControlName="password" class="form-control me-2" type="password" placeholder="Password"
                    aria-label="Password" [ngClass]="{ 'password-error': loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched }" />

                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>

            <!-- Display Error Message if bad Login-->
            <div class="error-message" *ngIf="errorMessage">
                <h3>{{ errorMessage }}</h3>
            </div>

            <div class="version-wrapper">
                <p>v1.0</p>
            </div>
        </div>

        <!-- Link to Dashboard when token is present -->
        <div class="dashboard-link" *ngIf="token">
            <button class="btn btn-primary" (click)="dashboardRoute()">Dashboard</button>
        </div>
    </div>
</div>