.dialog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    margin: 0;
    border-bottom: 2px solid grey;
    background-color: #f4ebd6;
}

.dialog-title h2 {
    padding: 0;
    margin:0;
    margin-bottom: 2vh;
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    font-weight: 666;
}

.content {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.bottle-form {
    padding-bottom: 1vh;
    margin: 0;
    height:auto;
    max-height: inherit;
    text-align: center;
}

.bottle-form h3 {
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    font-size: 3vh;
    font-weight: 500;
    line-height: 1.25;
}

.bottle-form p {
    font-size: 2vh;
}

/**************/
/* NGX Slider */
/**************/

.slider-wrapper {
    padding: 0;
    margin: 0;
    height: inherit;
    background-color: transparent;
    background-image: url('../../../../public/assets/images/empty-bottle.png');
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
}

.vertical-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0 auto;
    padding: 0;
}

.vertical-slider .ngx-slider .ngx-slider-pointer {
    width: 8vw;
    height: 3vh;
    background-color: #84451eec;
}

.vertical-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
}

.vertical-slider .ngx-slider .ngx-slider-selection {
    background: #84451eec;
}

.vertical-slider .ngx-slider .ngx-slider-bubble.ngx-slider-ceil {
    color: rgba(255, 255, 255, 0);
}

.vertical-slider .ngx-slider .ngx-slider-bubble.ngx-slider-floor {
    color: rgba(255, 255, 255, 0);
}

.vertical-slider .ngx-slider .ngx-slider-bubble.ngx-slider-model-value {
    color: white;
    font-size: 2vh;
    font-weight: 500;
    pointer-events: none;
    z-index: 10;
}

/*****************/
/* End of Slider */
/*****************/

.action-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7px;
}

/* Styles for small screens */
@media (max-width: 768px) {

    .vertical-slider .ngx-slider .ngx-slider-pointer {
        width: 30vw;
        height: 4vh;
    }
}