.dialog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    border-bottom: 2px solid grey;
    background-color: #f4ebd6;
}

.dialog-title h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 666;
}

.content {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.bottle-form {
    display: block;
    text-align: center;
}

.bottle-form h3 {
    font-size: 2em;
    font-weight: 600;
}

/**************/
/* NGX Slider */
/**************/

.slider-wrapper {
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: url('../../../../public/assets/images/empty-bottle.png');
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
}

.vertical-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0 auto;
    padding: 0;
}

.vertical-slider .ngx-slider .ngx-slider-pointer {
    width: 30vw;
    height: 25px;
    background-color: #84451ee0;
}

.vertical-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
}

.vertical-slider .ngx-slider .ngx-slider-selection {
    background: #84451ee0;
}

.vertical-slider .ngx-slider .ngx-slider-bubble.ngx-slider-ceil {
    color: rgba(255, 255, 255, 0);
}

.vertical-slider .ngx-slider .ngx-slider-bubble.ngx-slider-floor {
    color: rgba(255, 255, 255, 0);
}

.vertical-slider .ngx-slider .ngx-slider-bubble.ngx-slider-model-value {
    color: white;
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    z-index: 10;
}

/*****************/
/* End of Slider */
/*****************/

.action-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/* Styles for small screens */
@media (max-width: 768px) {

    .dialog-title {
        font-size: 2em;
        font-weight: 666;
    }

    .content {
        font-size: 1em;
        line-height: 1em;
    }
}