<div class="dialog-title">
    <h2>Partial Bottle</h2>
</div>

<mat-dialog-content class="content">

    <div class="bottle-form">

        <!-- Bottle Name -->
        <h3>{{ bottle.name }}</h3>

        <!-- Display the bottle capacity -->
        <p>Capacity: {{ data.bottle.capacityML }} mL</p>
        <p>Amount: {{ calculatedML }} mL</p>

        <!-- Vertical Slider -->
        <div class="slider-wrapper" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}">
            <div class="vertical-slider">
                <ngx-slider
                    [(value)]="currentHeight"
                    [options]="options"
                    (valueChange)="onHeightChange()">
                </ngx-slider>
            </div>

            <!-- Canvas for the bottle visualization -->
            <canvas #bottleCanvas></canvas>
        </div>

    </div>

</mat-dialog-content>

<mat-dialog-actions class="action-buttons">
    <button mat-raised-button (click)="cancel()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
