<div class="dialog-title">
    <h2>Add/Remove Bottle</h2>
</div>

<mat-dialog-content class="content" [formGroup]="form">

    <div class="bottle-form">

        <!-- Action Field -->
        <mat-form-field class="form-field">
            <mat-label>Action</mat-label>
            <mat-select formControlName="actionType">
                <mat-option [value]="'ADD_BOTTLE'">Add Bottle</mat-option>
                <mat-option [value]="'REMOVE_BOTTLE'">Remove Bottle</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="error-message" *ngIf="form.get('actionType')?.invalid && form.get('actionType')?.touched">
            Action Required
        </div>
        <br>

        <!-- Bottle Type -->
        <mat-form-field class="form-field">
            <mat-label>Bottle</mat-label>
            <mat-select formControlName="liquorBottleId">
                <mat-option *ngFor="let bottle of liquorBottles" [value]="bottle.id">
                    {{ bottle.name }} ({{ bottle.capacityML/1000}}L)
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="error-message" *ngIf="form.get('liquorBottleId')?.invalid && form.get('liquorBottleId')?.touched">
            Liquor Bottle Required
        </div>
        <br>

        <!-- Full or Partial -->
        <mat-radio-group formControlName="fullOrPartial">
            <mat-radio-button value="FULL">Full</mat-radio-button>
            <mat-radio-button value="PARTIAL">Partial</mat-radio-button>
        </mat-radio-group>
        <br>
        <br *ngIf="form.get('fullOrPartial')?.value === 'PARTIAL'">

        <!-- Partial Box (Only shows if "PARTIAL" is selected) -->
        <mat-form-field class="form-field" *ngIf="form.get('fullOrPartial')?.value === 'PARTIAL'">
            <mat-label>Percentage %</mat-label>
            <input matInput formControlName="partialAmount"/>
        </mat-form-field>

        <div class="error-message" *ngIf="form.get('partialAmount')?.invalid && form.get('partialAmount')?.touched && form.get('fullOrPartial')?.value === 'PARTIAL'">
            Percentage Required
        </div>
        <br>

        <!-- Num Full Box (Only shows if "FULL" is selected) -->
        <mat-form-field class="form-field" *ngIf="form.get('fullOrPartial')?.value === 'FULL'">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="numFullBottles"/>
        </mat-form-field>

        <div class="error-message" *ngIf="form.get('numFullBottles')?.invalid && form.get('numFullBottles')?.touched && form.get('fullOrPartial')?.value === 'FULL'" >
            Amount Required
        </div>
        <br>
        
        <!-- Bar -->
        <mat-form-field class="form-field">
            <mat-label>Bar</mat-label>
            <mat-select formControlName="barId">
                <mat-option *ngFor="let barName of barNames" [value]="barName.id">
                    {{ barName.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="error-message" *ngIf="form.get('barId')?.invalid && form.get('barId')?.touched">
            Bar Required
        </div>
        <br>
        <!-- Notes -->
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes" rows="3"></textarea>
        </mat-form-field>
    </div>

</mat-dialog-content>

<mat-dialog-actions class="action-buttons">
    <button mat-raised-button (click)="cancel()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>