<div id="main-page">
  <div id="main-wrapper">

    <!-- Dashboard Info -->
    <div class="dashboard-info" *ngIf="userInfo">

      <!-- Compan Info-->
      <div class="company-info">
        <h3><strong>Company: </strong>{{ userInfo.company }}</h3>
      </div>

      <!-- User Info -->
      <div class="user-info">
        <h3><strong>Name: </strong>{{ userInfo.firstName }} {{ userInfo.lastName }}</h3>
      </div>

      <!-- Sign Out Button -->
      <div class="button-wrapper">
        <button class="btn btn-danger" (click)="signOut()">Sign Out</button>
      </div>

    </div>

    <!-- Inventory Group -->
    <div class="container" id="inventory-group">

      <!-- Title -->
      <div class="title">
        <h2>Inventory</h2>
      </div>

      <!-- Save -->
      <div class="submit-wrapper">

        <div class="button-switch-wrapper">

          <!-- Inside/Outside switch -->
          <div class="switch-wrapper">

            <select [(ngModel)]="selectedBar" class="form-control"
              [ngClass]="{'error-message': showError && !selectedBar}">

              <!-- Placeholder Option -->
              <option [ngValue]="null" disabled selected>Select a bar...</option>

              <!-- Dynamic Options -->
              <option *ngFor="let bar of bars" [ngValue]="bar">
                {{ bar.name }}
              </option>
            </select>

          </div>

          <!-- Button -->
          <div class="button-wrapper">
            <button class="btn btn-primary" [disabled]="inventorySubmitted"
              (click)="submitInventory()"><strong>Submit</strong></button>
          </div>

        </div>

        <!-- Error Message -->
        <div *ngIf="showError" class="error-message">
          <h3>Please select a bar before submitting.</h3>
        </div>

        <!-- Submission info -->
        <h3 *ngIf="lastInventorySubmission">Successfully submitted on <span style="color: red;">{{
            lastInventorySubmission.timestamp }}</span></h3>

      </div>

      <!-- Table Wrapper -->
      <table class="table" id="inventory-table">
        <thead>
          <tr>
            <th style='width:40%;' (click)="sortInventory('name')"
              [ngClass]="{'sortable': true, 'sorted': sortColumn === 'name', 'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc'}">
              Name</th>
            <th style='width:20%;' (click)="sortInventory('capacityML')"
              [ngClass]="{'sortable': true, 'sorted': sortColumn === 'capacityML', 'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc'}">
              Size</th>
            <th style='width:20%;'>Full</th>
            <th style='width:20%;'>Partial</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let bottle of liquorBottles">
            <!-- Delivery Row -->
            <tr>
              <td data-label="Name">{{ bottle.name }}</td>
              <td data-label="Size">{{ bottle.capacityML }}mL</td>
              <td id="full-buttons">
                <button data-char="+" class="btn btn-success" (click)="increaseFullInventory(bottle)"></button>
                <p>{{ getFullBottleCount(bottle) }}</p>
                <button data-char="-" class="btn btn-danger" (click)="decreaseFullInventory(bottle)"
                  [disabled]="getFullBottleCount(bottle) === 0"></button>
              </td>
              <td id="partial-buttons">
                <button data-char="+" class="btn btn-success" (click)="increasePartialInventory(bottle)"></button>
                <p>{{ getPartialBottleCount(bottle) }}</p>
                <button data-char="-" class="btn btn-danger" (click)="resetPartialInventory()"
                  [disabled]="getPartialBottleCount(bottle) === 0"></button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

    </div>

  </div>
</div>