* {
  padding: 0;
  margin: 0;
}

#main-page {
  background-color: #bbb;
  padding: 10px;
}

#main-wrapper {
  display: block;
  margin: auto;
  background-color: white;
  border: 2px solid grey;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.397);
}

#main-wrapper .dashboard-info {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px 0px;
  background-color: rgba(230, 230, 230, 0.8);
}

#main-wrapper .dashboard-info h3 {
  font-size: 1.1em;
  padding: 0 10px;
}

#main-wrapper .dashboard-info button {
  width: auto;
  height: auto;
  font-weight: 600;
  padding: 3px 8px;
  margin: 0;
}

/*******************/
/* Inventory Group */
/*******************/

#inventory-group {
  padding: 0;
  margin: 0 auto;
}

#inventory-group .title {
  padding: 30px 0px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  background-color: #f4ebd6;
}

#inventory-group .title h2 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: 666;
  text-align: center;
}

.submit-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.submit-wrapper h3 {
  font-size: 1em;
  font-weight: 550;
  text-align: center;
  margin: 0;
  padding: 0;
}

.submit-wrapper .button-switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.submit-wrapper .switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.submit-wrapper .switch-wrapper h3 {
  padding: 0px 10px;
}



/*****************/
/* Toggle Switch */
/*****************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/************************/
/* End of Toggle Switch */
/************************/

#inventory-table {
  table-layout: fixed;
  width: 100%;
}

#inventory-table thead {
  background-color: rgba(230, 230, 230, 0.8);
  text-align: center;
}

#inventory-table td {
  text-align: center;
  vertical-align: middle;
}

.sortable {
  cursor: pointer;
}

.sorted.asc::after {
  content: ' ▲';
}

.sorted.desc::after {
  content: ' ▼';
}

#full-buttons {
  padding: 10px;
  margin: auto;
}

#full-buttons button {
  position: relative;
  margin: auto;
  width: 50%;
  height: 30px;
}

#full-buttons p {
  margin: auto;
}

#full-buttons button::before {
  content: attr(data-char);
  /* Use a data attribute for the single character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  /* Adjust size as needed */
  color: white;
  /* Match the button's text color */
}

#partial-buttons {
  padding: 10px;
  margin: auto;
}

#partial-buttons p {
  margin: auto;
}

#partial-buttons button {
  position: relative;
  margin: auto;
  width: 50%;
  height: 30px;
}

#partial-buttons button::before {
  content: attr(data-char);
  /* Use a data attribute for the single character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  /* Adjust size as needed */
  color: white;
  /* Match the button's text color */
}

/* Styles for small screens */
@media (max-width: 768px) {

  #main-wrapper .dashboard-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
  }
}