* {
  padding: 0;
  margin: 0;
}

#main-page {
  background-color: #bbb;
  padding: 10px;
}

#main-wrapper {
  display: block;
  margin: auto;
  background-color: white;
  width:30%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#main-wrapper .dashboard-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: rgba(230, 230, 230, 0.8);
}

#main-wrapper .dashboard-info h3 {
  font-size: 1.1em;
  line-height: 1.5;
}

#main-wrapper .dashboard-info .company-info {
  text-align: left;
  width: 100%;
  padding:5px;
  padding-left: 30px;
}

#main-wrapper .dashboard-info .user-info {
  text-align: left;
  width: 100%;
  padding: 5px;
  padding-left: 30px;
}

#main-wrapper .dashboard-info .button-wrapper {
  width:100%;
  text-align:right;
  padding:5px;
  padding-right: 30px;
}

#main-wrapper .dashboard-info .button-wrapper button {
  font-weight: 600;
  padding:3px 8px;
}

/*******************/
/* Inventory Group */
/*******************/

#inventory-group {
  padding: 0;
  margin: 0 auto;
}

#inventory-group .title {
  padding: 30px 0px;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  background-color: #f4ebd6;
}

#inventory-group .title h2 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: 666;
  text-align: center;
}

.submit-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px 0;
  border-bottom: 2px solid #999;
}

.submit-wrapper h3 {
  font-size: 1em;
  font-weight: 550;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
}

.submit-wrapper .button-switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px;
}

.submit-wrapper .switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.submit-wrapper .switch-wrapper h3 {
  padding: 0px 10px;
}

#inventory-table {
  table-layout: fixed;
  width: 100%;
}

#inventory-table thead {
  background-color: rgba(230, 230, 230, 0.8);
  text-align: center;
}

#inventory-table td {
  text-align: center;
  vertical-align: middle;
}

.sortable {
  cursor: pointer;
}

.sorted.asc::after {
  content: ' ▲';
}

.sorted.desc::after {
  content: ' ▼';
}

#full-buttons {
  padding: 10px;
  margin: auto;
}

#full-buttons button {
  position: relative;
  margin: auto;
  width: 50%;
  height: 30px;
}

#full-buttons p {
  margin: auto;
}

#full-buttons button::before {
  content: attr(data-char);
  /* Use a data attribute for the single character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  /* Adjust size as needed */
  color: white;
  /* Match the button's text color */
}

#partial-buttons {
  padding: 10px;
  margin: auto;
}

#partial-buttons p {
  margin: auto;
}

#partial-buttons button {
  position: relative;
  margin: auto;
  width: 50%;
  height: 30px;
}

#partial-buttons button::before {
  content: attr(data-char);
  /* Use a data attribute for the single character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  /* Adjust size as needed */
  color: white;
  /* Match the button's text color */
}

.error-message {
  color: red;
  font-size: 1em;
}


/* Styles for small screens */
@media (max-width: 768px) {

  #main-wrapper {
    width:100%;
  }
}