<div id="main-page">
    <div id="main-wrapper">
  
      <!-- Dashboard Info -->
      <div class="dashboard-info" *ngIf="userInfo">
        <h3><strong>Name: </strong>{{ userInfo.firstName }} {{ userInfo.lastName }}</h3>
        <button class="btn btn-danger" (click)="signOut()">Sign Out</button>
      </div>
  
      <!-- Navigation Tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'actions'}"
            (click)="setActiveTab('actions')">Actions</a>
        </li>
      </ul>
  
      <!-- Tab Content -->
      <div class="tab-content">
  
        <!-- Actions Group -->
        <div *ngIf="activeTab === 'actions'" class="container" id="actions-group">
  
          <!-- Title -->
          <div class="title">
            <h2>Actions</h2>
          </div>
  
          <!-- Action Buttons -->
          <div class="action-buttons">
  
            <!-- Create New Company -->
            <div id="createcompany-wrapper">
              <h2>New Company</h2>
              <button class="btn btn-primary" (click)="createNewCompany()">New Company</button>
            </div>

            <!-- Create New Company -->
            <div id="createuser-wrapper">
              <h2>New User</h2>
              <button class="btn btn-primary" (click)="createNewUser()">New User</button>
            </div>

          </div>
        </div>
  
      </div>
    </div>
  </div>